body{
    margin: 0;
    padding: 0;
    /*background-color: rgb(245,248,253);*/
}
.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: cripsEdges;
}
.axis text{
    font-size: 11px;
}
.bubble_TotalMsgCount{
    margin-top: 20px;
    /*display: none;*/

}
.bubble_ActiveUserCount{
    margin-top: 20px;
    /*display: none;*/
}

.bubble_MonitorChatCount{
    margin-top: 20px;
    /*display: none;*/
}
.bubble_MonitorMentioned {
    margin-top: 20px;
    /*display: none;*/
}
.bubble_Keyword_Blocked {
    margin-top: 20px;
    /*display: none;*/
}
.bubble_Keyword_WhiteList{
    margin-top: 20px;
    /*display: none;*/
}
.tip{
    border-radius: 2px;
    position: absolute;
    border-width: 2px;
    display: none;
    fill: black;


}
.tip-text{
    position: absolute;
    font-family: "Arial Black";
    font-size: 9px;
}
.grid path,
.grid line{
    fill: none;
    stroke: #E7E7E7;
    stroke-dasharray: 3,3;
    shape-rendering: cripsEdges;

}
.dot {
    stroke: black;
}
.yearbox{
    fill: none;
    pointer-events: all;
    cursor: ew-resize;
}
.label {
    font: 500 136px "Helvetica Neue";
    fill: #ddd;
}