		a{
			color: #243D47;
			text-decoration: none;
			outline: none;
		}
		ul li{
			list-style: none;
		}
		.tab{
			width: 100%;
			height: 66px;
			background: #3497C1;
			border-bottom: 1px solid #ccc;
			overflow: hidden;
			position: fixed;
			top: 0px;
		}
		.tab ul li{
			float: left;
			text-align: center;
		}
		.tab li>a{
			display: block;
			width: 100px;
			height: 50px;
			line-height: 50px;
			background: #fff;
			margin-left: 20px;
			border-radius: 10px;
			transform: scaleX(1);
			transition: background 0.4s linear,transform 0.2s linear;
		}
		.tab li:hover>a{
			color: #fff;
			background: #408E88;
			transform: scaleX(1.2);
		}
		.tab li:hover .item{
			display: block;
			left: auto;
		}
		.item{
			position: fixed;
			left: 10000px;
			z-index: 100;
			display: none;
			text-align: left;
		}
		.item a:hover{
			color: #fff;
			background: #408E88;
		}
		.item a{
			display: block;
			width: 200px;
			height: 40px;
			line-height: 40px;
			padding-left: 10px;
			background: rgba(52,151,193,0.6);
			transition: background 0.3s linear;
		}
		.photo{
			width: 989px;
			margin: 100px auto;
			/*background: #DEEAEF;*/
		}
		.photo .fore{
			padding-left: 50px;
			margin-bottom: 50px;
			border: 1px solid #ccc;
			/*position: absolute;*/
		}
